@import '../../variable.scss';

.inputForm {
    margin-top: 16px;
    margin-bottom : 8px; 
    width : 100%;
    label {
        background : $main-color;
        color: $accent-color;
        font-size: $md;
        padding : 8px 16px;
        border-radius: $radius-md;
    }
    input {
        height : 30px;
        padding : 4px 8px;
        margin-top : 8px;
        width : calc(100% - 20px);
    }
    p.viewLength {
        float : right;
        font-size: $xs;
        margin : 0;
    }
    p.message {
        font-size: $sm;
        color: $accent-color;
        margin : 5px 0 0 10px;
    }
}
