@import '../../variable.scss';

.selector {
    width : 100%;
    label {
        background : $main-color;
        color: $accent-color;
        font-size: $md;
        padding : 8px 16px;
        border-radius: $radius-md;
        margin-bottom: 4px;
    }
    .options {
        margin-top : 8px !important;
        width : calc(100%);
        padding : 2px 0 2px 4px;
    }
}