@import '../variable.scss';

.footer {
    padding : 12px;
    border-top: 1px solid $main-color;
    background: $main-color;
    color: $base-color;
    font-size: $sm;
    .links {
        align-items:flex-start;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        margin-bottom : 16px;
        text-align : center;
        width : 100%;
            a {
            margin-right : 24px;
            padding : 8px 16px;
            font-size : $md;
            color: $base-color;
            &:hover {
                background-color: $main-hover-color;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .description{
        text-align: left;
    }
}

.sns {
    font-size : $xl;
    .snsIcon {
        color: $accent-color;
        margin-left : 16px;
    }
}

@media screen and (min-width : $tablet-screen-size) {
    .links {
        display: flex !important;
        flex-flow: row wrap !important;
        align-items: center !important;
        justify-content: center !important;
    }
}