.width-fill{
    width : 100%;
}

.width-33 {
    width: 33%;
}

.width-short {
    width: 120px;
}

.width-middle {
    width: 160px;
}
.width-long {
    width: 240px;
}

.space {
    margin-bottom : 16px;
}