@import "../../../variable.scss";
@import "../../../styles.scss";
.btn {
  width: 100%;
  height: 100%;
  font-size: $md;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  &:disabled {
    filter: brightness(0.3);
    cursor: not-allowed;
  }
}

.btn-radius {
  border-radius: $radius-md;
}

.outline {
  border: 1px solid $gray-color4;
}

.color-main {
  &:hover {
    background: $main-hover-color;
  }
}

.color-accent {
  &:hover {
    background: $accent-hover-color;
  }
}

.color-clear {
  &:hover {
    background: $base-hover-color;
  }
}
