@import "../../../variable.scss";
@import "../../../styles.scss";
.btn {
  width: 100%;
  height: 100%;
  font-size: $md;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  &:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
  }
  &.radius {
    border-radius: $radius-md;
  }
  
  &.theme1-primary:hover {
    background: $theme1-primary-hover;
  }
  &.theme1-primary:active {
    background: $theme1-primary-hover;
  }
  &.theme1-secondary:hover {
    background: $theme1-secondary-hover;
  }
  &.theme1-secondary:active {
    background: $theme1-secondary-hover;
  }

  &.theme2-primary:hover {
    background: $theme2-primary-hover;
  }
  &.theme2-primary:active {
    background: $theme2-primary-hover;
  }
  &.theme2-secondary:hover {
    background: $theme2-secondary-hover;
  }
  &.theme2-secondary:active {
    background: $theme2-secondary-hover;
  }
}
