@import "../../variable.scss";

@keyframes skelton-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skelton {
  border-radius: $radius-sm;
  position: relative;
  overflow: hidden;
  background: $gray-color4;
  &::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(#fff, 0.5),
      transparent
    );
    animation: skelton-animation 1.2s linear infinite;
  }
}

.skelton-circle {
  border-radius: 50% !important;
  height: 60px;
  width: 60px;
  margin-bottom: 8px;
}

.skelton-fill {
  width: 100%;
  height: $md;
  margin-bottom: 8px;
}

.skelton-half {
  width: 75%;
  height: $sm;
  margin-bottom: 8px;
}

.skelton-image {
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
}
