@import "../../../variable.scss";
@import "../../../styles.scss";

.selector {
  width: 100%;
  label {
    font-size: $md;
    padding: 8px 16px;
    &.radius {
      border-radius: $radius-md;
    }
  }
  .options {
    margin-top: 4px;
    width: calc(100%);
    padding: 2px 0 2px 4px;
    &.radius {
      border-radius: $radius-md;
    }
  }
}
