@import "../variable.scss";

.gameList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    .game {
        width : calc((100% / 2) - 16px);
        margin : 0 8px 16px;
        padding : 0 0 8px;
        text-align: center;
        cursor:pointer;

        .gameImage {
            position: inherit !important;
            // width : calc(100% - 30px) !important;
            width : auto !important;
            height : auto !important;
            max-height: 240px !important;
            max-width : 80%;
            margin-top : 8px;
        }
        .title {
            font-size  : $sm;
        }
        .players {
            font-size : $sm;
        }
    }
    a:link, a:visited, a:hover, a:active {
        color : $main-color;
        text-decoration: none;
    }
}

@media screen and (min-width: $tablet-screen-size) {
    .gameList {
        .game {
            width : calc(100% / 3 - 32px - 64px);
            margin : 0 16px 16px;
            .title {
                font-size  : $sm;
            }
            .players {
                font-size  : $sm;
            }
        }
    }
}

@media screen and (min-width: $pc-screen-size) {
}