@import "../../styles//variable.scss";
.container {
    width : 90%;
    margin: auto;
}


@media screen and (min-width: $tablet-screen-size) {
    .container {
        width : 85%;
    }
}

@media screen and (min-width: $pc-screen-size) {
    .container {
        width : 70%;
    }
}
