// === screen size ===
$tablet-screen-size: 800px;
$pc-screen-size: 920px;

// === color ===
// ==== gray color ====
$gray1: #000;
$gray2: #838383;
$gray3: #c3c3c3;
$gray4: #e6e6e6;

// === font size ===
$xl: 24px;
$lg: 18px;
$md: 14px;
$sm: 12px;
$xs: 10px;

// == font weight ===
$bold: bold;

// radius-size
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

// === theme ===
$theme1-primary-color: rgba(255, 255, 255, 1);
$theme1-primary-bg: rgba(25, 25, 25, 1);
$theme1-primary-hover: rgba(0, 0, 0, 1);

$theme1-secondary-color: rgba(50, 50, 50, 1);
$theme1-secondary-bg: rgba(255, 255, 255, 1);
$theme1-secondary-hover: $gray4;

$theme1-error-color: rgb(241, 57, 57);
$theme1-error-bg: rgb(255, 255, 255, 1);
$theme1-error-hover: $gray4;

.theme1-primary {
  color: $theme1-primary-color;
  background: $theme1-primary-bg;
}
.theme1-primary-border {
  border: 1px solid $gray3 !important;
}

.theme1-secondary {
  color: $theme1-secondary-color;
  background: $theme1-secondary-bg;
}
.theme1-secondary-border {
  border: 1px solid $gray3 !important;
}

.theme1-error {
  color: $theme1-error-color;
  background: $theme1-error-bg;
}

$theme2-primary-color: rgba(50, 50, 50, 1);
$theme2-primary-bg: rgba(255, 255, 255, 1);
$theme2-primary-hover: $gray4;

$theme2-secondary-color: rgba(255, 255, 255, 1);
$theme2-secondary-bg: rgba(25, 25, 25, 1);
$theme2-secondary-hover: $gray4;

$theme2-error-color: rgb(241, 57, 57);
$theme2-error-bg: rgb(255, 255, 255, 1);
$theme2-error-hover: $gray4;

.theme2-primary {
  color: $theme2-primary-color;
  background: $theme2-primary-bg;
}
.theme2-primary-border {
  border: 1px solid $gray3 !important;
}

.theme2-secondary {
  color: $theme2-secondary-color;
  background: $theme2-secondary-bg;
}
.theme2-secondary-border {
  border: 1px solid $gray3 !important;
}

.theme2-error {
  color: $theme2-error-color;
  background: $theme2-error-bg;
}

// ==== theme color ====
$main-color: #0f2136;
$main-hover-color: rgb(10, 20, 40);
$main-opacity-color: rgba(15, 33, 54, 0.3);

$base-color: #ffffff;
$base-hover-color: rgb(240, 240, 240);

$accent-color: #f8744a;
$accent-hover-color: #ec5d31;
$accent-color-filter: invert(51%) sepia(71%) saturate(945%) hue-rotate(331deg)
  brightness(102%) contrast(94%);

$clear-color: rgba(0, 0, 0, 0);

$win-color: rgba(245, 110, 70, 1);
$win-opacity-color: rgba(245, 110, 70, 0.4);
$lose-color: rgba(98, 121, 223, 1);
$lose-opacity-color: rgba(98, 121, 223, 0.4);
$abort-color: $gray2;
$abort-opacity-color: $gray4;

$new-color: green;
$battle-color: $accent-color;
$close-color: $abort-color;

//=== other ===
$header-height: 50px;
