@import '../variable.scss';

div.header {
    z-index: 999;
    position: sticky;
    top : 0;
    left : 0;
    height : 60px;
    background: $main-color;

    .headerLine {
        display:flex;
        align-items:center;
        .logo {
            padding-right : 16px;
            padding-left : 4px;
            height : 60px;
            width : 120px;
            &:hover {
                background-color: $main-hover-color;
            }
    }
        .locale {
            width : 80px;
            margin: auto;
        }
        .linkGroup {
            display: none;
            height : 60px;
            a  {
                line-height: 40px;
                width : 140px;
                font-size: $sm;
                color: $accent-color;
                background-color: $main-color;
                margin: auto;
                text-align: center;
                border-left : 1px solid $accent-color;
                &:hover {
                    background-color: $main-hover-color;
                }
                &:last-child {
                    border-right: 1px solid $accent-color;
                }
            }
        }
        .loginBtn {
            line-height : 40px;
            margin-right : 5px;
        }
        .menuBtn {
            width : 40px;
            margin-right : 10px;
        }
    }
}


@media screen and (min-width: $tablet-screen-size) {
    .linkGroup {
        display: flex !important;
    }
    .menuBtn {
        display : none !important;
    }
}

